<div class="cta">
  <a{{#if cta-url}} href="{{cta-url}}"{{/if}} class="{{#if cta-class}} {{cta-class}}{{/if}}">
      {{cta-text}}
      {{#if cta-icon}}
      <i class="fa {{cta-icon}}"></i>
      {{/if}}
  </a>
</div>
