<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MD Anderson Cancer Center</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <META name="robots" content="noindex">
    <meta name="navurl" content="https://www.mdanderson.org/publications/conquest/summer-2012/regional-care-centers.html">

    <link rel="shortcut icon" href="/favicon.ico?v=2" />

    <!-- build:css(dist) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->

    <!--[if gt IE 8]><!-->
    <!-- build:js scripts/vendor/picturefill.js -->
    <script src="picturefill/dist/picturefill.js"></script>
    <!-- endbuild -->
    <!--<![endif]-->

    <!--[if lt IE 9]><!-->
    <!-- build:js scripts/vendor/html5shiv.js -->
    <script src="html5shiv/dist/html5shiv.js"></script>
    <script src="js/app.ie8fallback.js"></script>
    <!-- endbuild -->
    <!--<![endif]-->

     <!--[if lt IE 10]>
        <link rel="stylesheet" href="styles/app.styles-a.css">
        <link rel="stylesheet" href="styles/app.styles-b.css">
        <link rel="stylesheet" href="styles/app.styles-c.css">
     <![endif]-->
    <script type="text/javascript">
        var generalPredictiveSearchUrl = '/suggest?max=4&site=my_collection&access=access&format=rich&client=my_collection&q=';

    </script>
</head>

<body>
<script type="text/javascript">
    var utag_data = {};
    var page_section = '';
    var page_category =  '';
    var pathName = window.location.pathname.replace('.html','');
    var pathArray = pathName.trim().split('/');
    var categoryArray = [];
    var page_name = '';
    var delimiter = ':';
    var subCategoryIndex = 1;
    var language = 'en';
    var device = 'desktop';

    for(var i = 0; i < pathArray.length; i++){
        if(i === 0 || pathArray[i].length === 0){
            delimiter = '';
        } else{
            delimiter = ':';
        }
        if(pathArray[i].length > 0){
            page_name = page_name + pathArray[i] + delimiter;
            categoryArray.push(pathArray[i]);
        }

    }

    for(var i = 0; i< categoryArray.length; i++){
        if(i===0){
            page_section = categoryArray[i];
        } else if(i===1){
            page_category = categoryArray[i];
        } else{
            utag_data['page_subcategory'+subCategoryIndex] = categoryArray[i];
            subCategoryIndex++;
        }
    }

    if(page_name.length > 0 ){
        page_name = page_name.substring(0, page_name.length -1);
    }
    if(navigator.userAgent.match(/Android/i) !=null || navigator.userAgent.match(/BlackBerry/i) !=null || navigator.userAgent.match(/iPhone|iPad|iPod/i) !=null || navigator.userAgent.match(/Opera Mini/i) !=null ||
            navigator.userAgent.match(/IEMobile/i) !=null){
        if(Math.max(document.documentElement.clientWidth, window.innerWidth || 0) > 752){
            device = 'tablet';
        } else{
            device = 'mobile';
        }
    }

    utag_data.page_name = page_name;
    utag_data.page_section = page_section;
    utag_data.page_category = page_category;
    utag_data.Language = language;
    utag_data.Device = device;


</script>

<!-- Loading script asynchronously -->
<script type="text/javascript">
    var tealiumDev = '//tags.tiqcdn.com/utag/mdanderson/mdandersonorg/dev/utag.js';
    var tealiumQa = '//tags.tiqcdn.com/utag/mdanderson/mdandersonorg/qa/utag.js';
    var tealiumProd = '//tags.tiqcdn.com/utag/mdanderson/mdandersonorg/prod/utag.js';
    var currentTealium = tealiumDev;
    if(document.domain.indexOf('mdanderson.org') > -1){
        currentTealium = tealiumProd;
    } else if(document.domain.indexOf('aem-test.mdanderson') > -1){
        currentTealium = tealiumQa;
    } else{
        currentTealium = tealiumDev;
    }

    (function(a, b, c, d) {
        a = currentTealium;
        b = document;
        c = 'script';
        d = b.createElement(c);
        d.src = a;
        d.type = 'text/java' + c;
        d.async = true;
        a = b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d, a);
    })();
</script>

    <a href="#skip" class="offscreen" aria-label="skip to content" id="content-skip-btn">Skip Content</a>
    <div id="video-overlay" class="media-overlay fade-out">
        <i class="fa fa-times overlay-close" id="video-overlay-close"></i>
        <div id="video-overlay-player" class="media-overlay-player"></div>
    </div>
    <div id="yt-overlay" class="media-overlay fade-out">
        <i class="fa fa-times overlay-close" id="yt-overlay-close"></i>
        <div id="yt-overlay-player" class="media-overlay-player"></div>
    </div>
