
    <!-- build:js scripts/vendor/app.vendor.js -->
    <script src="jquery/dist/jquery.js"></script>

    <script src="jqueryui/jquery-ui.js"></script>

    <script src="slick-carousel/slick/slick.js"></script>

    <script src="fastclick/lib/fastclick.js"></script>

    <script src="modernizr/modernizr.js"></script>

    <script src="js/semantic-ui/transition.min.js"></script>
    <script src="js/semantic-ui/dropdown.min.js"></script>

    <script src="jquery-leanmodal/jquery.leanModal.js"></script>

    <script src="ScrollMagic/js/jquery.scrollmagic.min.js"></script>
    <script src="ScrollMagic/js/jquery.scrollmagic.debug.js"></script>

    <script src="hammerjs/hammer.min.js"></script>

    <script src="handlebars/handlebars.min.js"></script>

    <script src="isotope/dist/isotope.pkgd.min.js"></script>

    <script src="picturefill/dist/picturefill.js"></script>

    <!-- endbuild -->

    <!-- build:js scripts/app.scripts.js -->

    <script src="js/jwplayer.min.js"></script>
    <script src="mda-web/jwplayer/jwplayer.html5.js"></script>
    <script src="js/swfobject.js"></script>
    <script src="js/app.jwplayer.js"></script>
    <script src="js/footable.js"></script>
    <script src="js/jquery.placeholder.js"></script>

    <script src="js/app.main.js"></script>
    <script src="js/app.flip-hero.js"></script>
    <script src="js/app.global-carousel.js"></script>
    <script src="js/app.tabs.js"></script>
    <script src="js/app.modal.js"></script>
    <script src="js/app.search.js"></script>
    <script src="js/app.custom-dropdown.js"></script>
    <script src="js/app.scroll-transitions.js"></script>
    <script src="js/app.video.js"></script>
    <script src="js/app.helpers.js"></script>
    <script src="js/app.handlebar-templates.js"></script>
    <script src="js/herocarouselpicturefill.js"></script>
    <script src="js/herocontentpicturefill.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-video.min.js"></script>

    <!-- endbuild -->

    <!-- build:js scripts/app.modules.js -->
    <script src="js/app.accordion.js"></script>
    <script src="js/app.basic-content-media.js"></script>
    <script src="js/app.navigation.js"></script>
    <script src="js/app.footer.js"></script>
    <script src="js/app.sentence-filter.js"></script>
    <script src="js/app.comments.js"></script>
    <script src="js/app.blog-search-filter.js"></script>
    <script src="js/app.news-article-search.js"></script>
    <script src="js/app.sitemap-accordion.js"></script>
    <script src="js/app.generated-list.js"></script>
    <script src="js/app.glossary.js"></script>
    <script src="js/app.collection-tab.js"></script>
    <script src="js/app.blogpost.js"></script>
    <script src="js/app.search-filter.js"></script>
    <script src="js/app.search-results.js"></script>
    <script src="js/app.alerts.js"></script>
    <script src="js/app.predictive-gsa.js"></script>
    <script src="js/app.resource-results.js"></script>
    <script src="js/app.resource-landing.js"></script>
    <script src="js/app.blog-sidebar.js"></script>
    <script src="js/app.custom-tables.js"></script>
    <script src="js/app.xml2json.js"></script>
    <script src="js/app.publication.js"></script>
    <script src="js/app.clinical-trials-search.js"></script>
    <script src="js/app.related-posts.js"></script>
    <script src="js/app.share.js"></script>
    <script src="js/app.rte-extend.js"></script>
    <script src="js/app.video-gallery.js"></script>
    <script src="js/app.archive.js"></script>
    <script src="js/app.image-gallery.js"></script>
    <script src="js/app.bread-crumb.js"></script>
    <script src="js/app.glossary-search.js"></script>
    <script src="js/app.generated-linked-list.js"></script>

    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="js/app.ie8fallback.js"></script>
    <![endif]-->


</body>
</html>
