<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <h1>SUP</h1>
  {{{body}}}


  </body>
</html>
