<!doctype html>
<html lang="en">

<head>
  {{#block "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>
  {{/block}}
</head>

<body>
  {{#block "body"}}

  {{/block}}

  {{#block "foot"}}

  {{/block}}
</body>

</html>
