<!-- build:js js/vendor.js -->
<script src="vendor/jquery.js"></script>
<!-- endbuild -->

<!-- build:js js/scripts.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

<!-- build:js js/components.js -->
<script src="js/hero.js"></script>
<!-- endbuild -->

<!--[if lt IE 9]>
    <script src="js/ie8fallback.js"></script>
    <![endif]-->

</body>

</html>
