<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>::</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<META name="robots" content="noindex">

	<!-- build:css(dist) css/main.css -->
	<link rel="stylesheet" href="css/main.css">
	<!-- endbuild -->

	<!--[if lt IE 9]><!-->
	<!-- build:js scripts/vendor/html5shiv.js -->
	<script src="vendor/html5shiv.js"></script>
	<script src="js/app.ie8fallback.js"></script>
	<!-- endbuild -->
	<!--<![endif]-->

</head>

<body>
