{{> html_head }}


    {{>mobile-nav mobile_nav.mobile-nav.about-md-anderson}}


  <main class="l-main">
    {{> header this}}
  	<div class="page" id="skip" tabindex="-1">
  		<div class="content">
  			{{{body}}}
  		</div>
      {{> pre-footer}}
    {{> footer }}
  	</div>

  </main>

  <div id="l-modal">
    <a class="modal-close" href="#"><i class="fa fa-times"></i></a>
    <div class="l-modal-body"></div>
  </div>


{{> html_tail }}
