{{!
  Appointment Bar
  -----
  -----
  ###Class: .appointment-bar
  ###Path: /dist/cms/cms.appointment-bar/appointment-bar.html

  No style options available.
}}

{{#moduleWrap}}

<div class="appointment-wrapper table">
    <div class="appointment-header cell-m m-pad middle">
        <a href="#">Make An Appointment Now</a>
    </div>
    <div class="text cell-l last m-pad middle">
      <p>Speak With A Health Information Specialist</p>
      <a class='action-main' href="tel:+18776326789">Call 1 877 632 6789</a>
    </div>

</div>

{{/moduleWrap}}
