@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// = Colors
// -----------------------------

$primaryRed: #da291c;
$primaryBlack: #000;
$primaryWhite: #fff;
$neutralGreyDarkest: #3f3d3d;
$neutralGreyDark: #605d5d;
$middleGrey: #bcbec0;
$neutralGrey: #d0d0ce;
$neutralGreyLight: #dddcd2;
$neutralGreyLightest: #f2f3f4;
$tableOffWhite: #f8f9f9;
$neutralBeige: #f1f1f1;
$secondaryRed: #ae2116;
$secondaryOrange: #e96613;
$secondaryYellow: #f9ca1f;
$secondaryGreen: #529144;
$secondaryBlue: #2f60b2;
$secondaryPurple: #783491;
$secondaryGreenLight: #a1b21a;
$secondaryBlueLight: #23b8f1;
$secondaryBlack: #222121;
$primaryTan: #f0e2bb;
$lightGrey: #3f3d3d;
$lighterGrey: #d7d7d7;
$disabledGrey: #858588;
$lightPurple: #3361ad;
$neutralRed: #d92c27;


$utilityNavColor: #414042;
$utilityHoverColor: #dadada;
$navBackground: #f2f2f2;
$subnavSectionHover: #e7e8ea;
$subNavDivider: #c6c6c6;


$primaryRedGradientDark: #c50026;
$secondaryBlueGradientDark: #385999;
$secondaryBlueLightGradientDark: #00a9c8;
$secondaryGreenGradientDark: #04906f;
$secondaryPurpleGradientDart: #662c7b;
$secondaryOrangeGradientDark: #db6e29;

$secondaryBlueAlternate: #5980c1;

$color-link-hover: darken($primaryRed, 10%);

$tertiaryBlack: #3a3a3a;

// = Z-index Management
// -----------------------------

$z-layers: (
  "modal": 9001,
  "modal-overlay": 9000,
  "header": 1000,
  "header-topnav":1005,
  "search-results":300,
  "media-overlay":299,
  "above": 2,
  "default": 1,
  "below": -1,
  "bottomless-pit": -9000
);

// = Responsive & Spacing
// -----------------------------

$width-main: 1440px;
$width-large: 1200px;
$width-iPad-landscape: 1030px;
$width-medium: 992px;
$width-small: 752px;
$desktop-spacing: 70px;
$desktop-spacing-small: 35px;
$desktop-spacing-large: 70px;
$mobile-spacing: 35px;
$mobile-spacing-vw: 8vw;
$mobile-spacing-large: 40px;
$mobile-spacing-large-vw: 11vw;

// = Susy Grid
// -----------------------------

$susy: (
  columns: 12,
  container: $width-main,
  global-box-sizing: border-box
);

$susy-outer: (
  columns: 12,
  container: $width-main,
  gutters: 0,
  global-box-sizing: border-box
);

$susy-inner: (
  math: fluid,
  output: float,
  gutter-position: split,
  columns: 6,
  gutters: 1,
  global-box-sizing: border-box
);

$susy-tablet: (
  math: fluid,
  output: float,
  gutter-position: split,
  columns: 12,
  gutters: 6,
  global-box-sizing: border-box
);

// = Header
// -----------------------------

$tophatHeight: 32px;
$utilityMenuHeight: 24px;
$navHeight: 90px;
$primaryNavHeight: 65px;
$headerBorder: 5px;
$headerPadding: 25px;
$headerPaddingWide: 35px;
$navSearchHeight: 60px;
$mobileNavHeight: 65px;
$mobileNavSearchHeight: $mobileNavHeight;
$mobileTopNavHeight: $mobileNavSearchHeight - 5;
$mobileNavItemHeight: 56px;
$mobileUtilityNavHeight: 44px;
$searchTextWidth: 75%;
$searchSubmitWidth: 20%;

// = TABLE
// -----------------------------

$global-spacing: 1em;
$cell-m-lg: 8.47458%;
$cell-f-lg: 1.69492%;
$cell-i-lg: 4.16667%;
$cell-t-lg: 0.84746%;
$cell-il-lg: 6%;
$cell-is-lg: 3%;
$cell-m-md: 3.57143%;
$cell-p-lrg: $global-spacing * 4;
$cell-p-med: $global-spacing * 2;
$cell-p-sml: 0;
$outer-padding: $global-spacing;

