.strike-small {
    font-size: 1vw;
}

.strike-medium {
    font-size: 2vw;
}

.strike-large {
    font-size: 3vw;
}

.strike-title {
    font-size: inherit;
    height: 93%;
}

.strike {
    position: relative;
    display: inline-block;
    &::before {
        display: block;
        position: absolute;
        content: ' ';
        background-image: url("../../../mda-web/images/strike-through/strike-through-average.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        width: 115%;
        left: -20px;
    }
}
.strike-title {
    @extend .strike;
    &::before {
        background-image: url("../../../mda-web/images/strike-through/strike-through-average.svg");
        left: -15px;
    }
}
.strike-through-header {
    @extend .strike;
    &::before {
        width: 100%;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thin.svg");
        left: 0;
        //Removing this, may need to add back in
        //top: 3px;
    }
}
.strike-through-header-1x-long {
    @extend .strike;
    &::before {
        width: 100%;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-1x-thin.svg");
        top: 0;
        left: 0;
    }
}
.strike-through-header-2x-long {
    @extend .strike;
    &::before {
        width: 100%;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-2x-thin.svg");
        top: 0px;
        left: 0;
    }
}
.strike-through-sub-title {
    @extend .strike;
    &::before {
        height: 90%;
        width: 115%;
        left: -5px;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thick.svg");
    }
}
.strike-through-sub-title-long {
    @extend .strike;
    &::before {
        height: 100%;
        width: 105%;
        left: -5px;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thin.svg");
    }
}
.strike-through-header-02 {
    @extend .strike;
    &::before {
        height: 100%;
        width: 115%;
        left: -8px;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thick.svg");
    }
}
.strike-through-quote {
    @extend .strike;
    &::before {
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thin.svg");
        width: 100%;
        left: 0;
        top: 0;
    }
}

.strike-strike-through-sub-title-long {
    position: relative;
    display: inline-block;
    &::before {
        display: block;
        position: absolute;
        content: ' ';
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        height: 100%;
        width: 105%;
        left: -5px;
        background-image: url("../../../mda-web/images/strike-through/strike-through-large-thin.svg");
    }
}

@media(max-width: $width-medium) {
    .strike {
        &::before {
            height: 95%;
            left: -5px;
        }
    }
    .strike-through-sub-title-long::before {
        left: -7px;
    }
    .strike-through-header::before {
        top: 3px;
    }
}
@media(max-width: $width-small) {
    .strike-title::before {
        left: -7px;
    }
    .strike-through-header::before {
        top: 1px;
    }
}

.ie9,.ie10{

    .strike{
        &::before {
            top: 3px;
        }
    }
    .quote-author-title {
        .strike{
            &::before {
                top: 1px;
            }
        }

    }
}
.ie11{

    .strike{
        &::before {
            top: 7px;
        }
    }
    .quote-author-title {
        .strike{
            &::before {
                top: 3px;
            }
        }

    }
}
