/* ==|====================
   Module/Video responsive
   ======================= */

//  Styling for videos with in a modal
// TODO Mobile video styling
//This css is for video in modal
.modal-video-player {
    z-index: z('modal');
    position: fixed;
    width: 80%;
    height: 80%;
}

.video-play-button {
    i {
        padding: 10px;
    }
}

.media-ui .video-play-button {
    // i{
    //   padding: 25px 10px 0px 0px;
    // }
}

.video-js {
    // width:80%;
    // height:80%;
    // min-height: 365px;
}

.content-on-hover {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: $primaryWhite;
    .video-text {
        position: absolute;
        left: 25px;
        top: 20px;
        text-align: left;
        .title {
            @include type-ubc-12-alt;
            margin: 0;
            text-transform: uppercase;
        }
        .subtitle {
            @include type-u-16;
            margin: 0;
        }
    }
    .video-social-media {
        position: absolute;
        top: 50px;
        right: 20px;
        i {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.video-close {
    position: absolute;
    top: 20px;
    right: 22px;
    i {
        color: #fff;
    }
}

// override default vjs styles
.vjs-default-skin {
    .vjs-control-bar {
        height: 40px;
        padding-top: 6px;
    }
}

@include breakpoint(max-width $width-small) {
    .video-play-button {
        i {
            font-size: 70px;
            padding: 0;
        }
    }
}
