/* ===========================
   Base
   =========================== */
html, body {
  width:100%;
  height:100%;
}

body {
    @include type-m-18(16px,14px);
    color: $primaryBlack;
    &.lg-on{
        overflow: hidden;
    }
}

// RTL languages text direction setting. Excludes header and footer.
.rtl body {
  direction: rtl;
  overflow-x: hidden;
  #global-header, .global-footer {
    direction: ltr;
  }
}

h1{
  &.hidden-header{
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

a {
    color: $primaryRed;
    text-decoration: none;
}
p a {
    color: $primaryRed;
    text-decoration: underline;
}
.promo a{
    text-decoration: none;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@include selection($primaryWhite,$primaryRed);

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.page {
  outline: none;
  @include breakpoint(max-width $width-medium){
    width:100%;
    @include transition( transform 0.45s );
    @include transform(translate3d(0, 0, 0));
  }

  &.lock{
    position: fixed;
    overflow: hidden;
  }
  &.alert-lock{
    position: fixed;
    overflow: hidden;
  }


}

.l-main {
  overflow: hidden;
  background:$primaryWhite;
}

.offscreen {
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  background:$primaryWhite;
  margin:auto;
  text-align:center;

  &:focus {
    width:150px;
    height:50px;
    right:0;
    left:0;
    z-index:z("modal");
  }
}

.media-overlay{
  display: none;
  position: fixed;
  background:rgba(0,0,0,0);
  height: 100%;
  width: 100%;
  color: $primaryBlack;
  z-index: -100;
  &.fade-in {
    background:rgba(0,0,0,.85);
    z-index: 10000;
    display: block;
    opacity: 1;
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
  }
  &.fade-out {
    background:rgba(0,0,0,0);
    opacity:0;
    z-index: -10000;
    display: none !important;
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
  }


  .overlay-close{
    color: $primaryWhite;
    position: absolute;
    right: 18px;
    top: 12px;
    font-size: 30px;
    z-index: 10002;
    cursor: pointer;
  }

  .adaptive-image{
    max-width: 100%;
  }
  .media-overlay-player{
    &.with-image{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      max-width: 100%;

      .overlay-caption{
        color: $primaryWhite;
        padding: 20px 30px;
      }
    }
  }

  #video-overlay-player_wrapper{
    opacity: 0;
    &.fade-in{
      opacity: 1;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
    }
  }
  .media-overlay-player_wrapper{
    margin-top:5%;
    opacity: 0;
    z-index: 10001;
    &.fade-in{
      opacity: 1;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
    }

    &.fade-out{
      opacity: 0;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out;
    }
    @include breakpoint(max-width $width-small){
      width:100% !important;
      height: 100% !important;
      margin-left:0;
      top: 0;
    }
  }

  @include breakpoint(max-width $width-small){
    width:100%;
    height: 100%;
    margin-left:0;
    top: 0;
  }


}

#video-overlay-player_wrapper {
  @include breakpoint(max-width $width-small){
    width:100% !important;
    height:auto !important;
    left: 0 !important;
    margin-top: 0 !important;
    top: 40% !important;
  }
}

.rich-text {
  h3 {
    @include type-ub-21;
    font-weight: normal;
    &.bleed-top {
      margin-top: 0;
    }
    &.bleed-bottom {
      margin-bottom: 0;
    }
    &.bleed-full {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Ensure MD Anderson never wraps (and anything else inside span.nowrap)
span.nowrap {
  white-space: nowrap;
}

//Version difference(author) strike through and color change of font for inserted and deleted text and image
//styles for inserted and deleted images

ins.textAdded{
    text-decoration:none;
    color: $secondaryGreen;
    background-color:$secondaryYellow;
}

del.textRemoved{
    text-decoration: line-through;
    color: $primaryRed;
}

img.imgAdded{
  border: 3px solid $secondaryGreen;
  
}
img.imgRemoved{
  border:3px solid $primaryRed;
}

img.imgChanged{
  
  border:3px solid $secondaryYellow;

}
