
<!-- ROW -->
<section class="bleed-full">
  {{> carousel-hero modules_carousel.patients-family-hero}}
</section>

  <a href="#" class="scrollToTop">
    <span class="cta_icon_top fa-angle-up"></span>
    <span class="cta_top_text">Top</span>
  </a>

<!-- /ROW -->

<!-- ROW -->
<section class="highlight scroll-trans fade-in" data-transition="fadeIn">
  <div class="table right-over-left">
    <div class="cell-f m-pad">
      {{> badge}}
    </div>
    <div class="cell-m last middle m-pad">
      {{> teaser modules_teaser.patients-family-1}}
    </div>
  </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="bleed-full">
  {{>appointment-bar modules_layout.appointment-bar}}
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight apply scroll-trans fade-in" data-transition="fadeIn">
  <div class="table">
    <div class="cell-m cell-border">
      {{> search-block modules_search_block.patients-family-1}}
      {{> search-block modules_search_block.patients-family-2}}
    </div>
    <div class="cell-m last">
      {{> link-list modules_link_list.patients-family-1}}
    </div>
  </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight scroll-trans fade-in" data-transition="fadeIn">
  <div class="col-single">
    {{> collection modules_collection.patients-family-1}}
  </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="scroll-trans bleed-full fade-in" data-transition="fadeIn">
  {{> basic-content-media modules_basic_content_media.patients-family-1}}
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight apply scroll-trans fade-in" data-transition="fadeIn">
  <div class="col-single">
    {{> carousel modules_carousel.patients-family-1}}
  </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight m-pad scroll-trans fade-in" data-transition="fadeIn">
  <div class="nested-section-title">
    <h2 class="section-title text-center">Join the Fight to End Cancer</h2>
  </div>
  <div class="table">
    <div class="cell-l cell-full-height">
      {{> promos modules_promo.patients-family-3}}
    </div>
    <div class="cell-r last cell-full-height">
      {{> promos modules_promo.patients-family-4}}
    </div>
  </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight apply scroll-trans fade-in" data-transition="fadeIn">
  <div class="table">
    <div class="cell-t">
      {{> promos modules_promo.patients-family-5}}
    </div>
    <div class="cell-t">
      {{> promos modules_promo.patients-family-6}}
    </div>
    <div class="cell-t last">
      {{> promos modules_promo.patients-family-7}}
    </div>
  </div>
</section>
<!-- /ROW -->
