
<!-- ROW -->
<section class="bleed-full">
    {{> static-hero modules_hero.prevention}}
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="bleed-full">
    {{>appointment-bar modules_layout.appointment-bar-top}}
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight scroll-trans fade-in" data-transition="fadeIn">
    <div class="table">
        <div class="cell-m middle">
            {{>teaser modules_teaser.prevention-1}}
        </div>
        <div class="cell-f last">
            {{> basic-content-media modules_basic_content_media.prevention-1}}
        </div>
    </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight apply scroll-trans fade-in" data-transition="fadeIn">
    <div class="col-single">
        {{>media-player modules_media_player.prevention-1}}
    </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="scroll-trans highlight fade-in" data-transition="fadeIn">
    <div class="table">
        <div class="cell-m cell-border">
          {{> link-list modules_link_list.prevention-1}}
        </div>
        <div class="cell-m last">
          {{> link-list modules_link_list.prevention-2}}
        </div>
    </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight scroll-trans fade-in" data-transition="fadeIn">
    <div class="table">
        <div class="cell-l middle">
            {{>teaser modules_teaser.prevention-2}}
        </div>
        <div class="cell-r last">
            {{> basic-content-media modules_basic_content_media.prevention-2}}
        </div>
    </div>
</section>
<!-- /ROW -->

<!-- ROW -->
<section class="highlight apply scroll-trans fade-in" data-transition="fadeIn">
    <div class="table">
        <div class="cell-l middle cell-border">
            {{> promos modules_promo.prevention-1}}
        </div>
        <div class="cell-r last">
            {{> basic-content-media modules_basic_content_media.prevention-3}}
        </div>
    </div>
</section>
<!-- /ROW -->
