/* =======================
   Accordion
   ======================= */

.accordion-module {
    width: 100%;
    h3 {
        margin: 0;
        padding: 27px 0 30px;
        clear: both;
        @include type-ub-24(24px);
        position: relative;
        font-weight: normal;
        line-height: 1;
        a {
            color: $primaryBlack;
        }
        &:last-of-type {
            border-bottom: 1px solid $neutralGrey;
            .fa {
                bottom: 2px;
            }
            &.ui-accordion-header-active {
                border-bottom: none;
                padding-bottom: 31px;
            }
        }
        .header-text {
            padding-right: 30px;
            line-height: 1;
        }
        .fa {
            float: none;
            color: $primaryRed;
            position: absolute;
            right: 50px;
            @include calc(top, "50% - 12px");
            &.fa-minus {
                display: none;
            }
            &.fa-plus {
                display: block;
            }
        }
        &.ui-accordion-header-active {
            i.fa {
                &.fa-minus {
                    display: block;
                }
                &.fa-plus {
                    display: none;
                }
            }
        }
    }
    .accordion-content {
        margin-bottom: 1em;
        p {
            @include type-m-18(16px,14px);
            padding: 0;           
        }
        &.accordion-content-left {
            color: $neutralGreyDarkest;
            padding-right: 1em;
            p {
                span.cta {
                    &:after{
                        content: "\e608";
                        font-family: 'MDIcons';
                        margin-left: 20px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
        &.accordion-content-right {
            padding-left: 1em;

        }
    }
    .ui-state-focus:focus {
        outline: none;
    }
    .panel-title {
        border-top: 1px solid $neutralGrey;
    }
    @include breakpoint(max-width $width-medium) {
        h3 {
            @include spacing("padding", "all", "mobile");
            &:first-child, &:last-of-type {
                @include spacing("padding", "all", "mobile");
                .fa {
                    @include calc(top, "50% - 12px");
                }
            }
            .header-text {
                padding-right: 16%;
            }
        }
        .panel-container {
            @include spacing("padding", "sides", "mobile");
            @include spacing("padding", "bottom", "mobile");
        }
    }
    @include breakpoint(max-width $width-small) {
        .accordion-content {
            &.accordion-content-left {
                padding-right: 0;
                .rte-container {
                    padding:0;
                }
            }
            &.accordion-content-right {
                padding-left: 0;
            }
        }
    }
}
.col-content-single {
    .accordion-module {
        @include breakpoint(max-width $width-medium) {
            h3 {
                padding-left: 0;
                padding-right: 0;
                &:first-child, &:last-of-type {
                    padding-left: 0;
                    padding-right: 0;
                }
                .header-text {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .panel-container {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @include breakpoint(max-width $width-small) {
            h3 {
                @include spacing("padding", "all", "mobile");
                &:first-child, &:last-of-type {
                    @include spacing("padding", "all", "mobile");
                    .fa {
                        @include calc(top, "50% - 12px");
                    }
                }
                .header-text {
                    padding-right: 16%;
                }
            }
            .panel-container {
                @include spacing("padding", "sides", "mobile");
                @include spacing("padding", "bottom", "mobile");
            }
        }
    }
}