/* =======================
   Clinical Trials Sidebar
   ======================= */
.clinical-trials-sidebar {
    background-color: $neutralGreyLightest;
    padding: $global-spacing*2;

    h3 {
        @include type-ub-24(18px,18px);
        font-weight: normal;
        margin-top: 0;
    }

    div {
        padding: 5px 0;
        p {
            margin:0;
            padding: 3px 0;
            @include type-u-16;
            &.title {
                @include type-ub-16;
            }
        }
    }

    .cta {
        padding: 15px 0;
        .cta-block {
            width:100%;
            text-align:center;
            background-color: $primaryRed;
            color: $primaryWhite;
            border:none;
        }
    }
}