/* =======================
   Primary Navigation
   ======================= */
#primary-nav-wrapper{
  background: $primaryRed;
  clear: both;
  display: block;
  height: 60px;
  position: relative;
  z-index: 2;
  #primary-nav{
    display: table;
    width: 100%;
  }

  .primary-nav-item{
    display: table-cell;
    vertical-align: middle;
    >a{
      @include type-ubc-14;
      color: $primaryWhite;
      display: table;
      height: 60px;
      border-right: 1px solid rgba(255,255,255,.4);
      padding: 0 30px 0 20px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;
      span{
        display: table-cell;
        vertical-align: middle;
      }

    }
    &:last-of-type{
      >a{
        border-right: none;
      }
    }
    &.has-subnav{
      >a{
        text-align: left;
        &:after{
          color: $primaryWhite;
          content: $fa-var-caret-down;
          position: absolute;
          right: 13px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          letter-spacing: -0.02em;
          line-height: 1.3;
          font-size: .8em;
          font-family: FontAwesome;
        }
      }
    }
    .subnav-wrapper{
      background: $navBackground;
      left: 0;
      overflow: hidden;
      max-height: 0;
      position: absolute;
      width: 100%;

      .subnav{
        display: table;
        padding: 0 90px;
        table-layout: fixed;
        width: 100%;
        &.small-breakpoint{
          padding: 0 50px;
          .subnav-section{

            >.subnav-subsection{
              >a{
                font-size: 14px;
              }
              ul{
                li{
                  padding: 15px 0 0 0;
                  a{
                    font-size: 14px;
                    &:hover,&:focus{
                      font-size: 14px;
                    }
                  }
                }
              }
            }
            &.image{
              width: 40%;
            }
            &.promo{
              >.subnav-subsection{
                .promo-item{
                  a{
                    p{
                      &.title{
                        font-size: 14px;
                      }
                      &.description{
                        font-size: 14px;
                        padding-top: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .subnav-section{
          display: table-cell;
          height: auto;
          width: 20%;
          padding: 0;
          vertical-align: top;

          &.multiple{
            padding: 0;

            >.subnav-subsection {
              &:first-of-type{
                padding-top: 45px;

              }

            }
          }

          &.image{
            width: 40%;
          }

          &:hover{
            background: $subnavSectionHover;
          }

          &.multiple{
            &:hover{
              background: none;
            }

            >.subnav-subsection {
              &:hover {
                background: $subnavSectionHover;
              }
            }
          }

          &.promo{
            .promo-item{
              text-align: left;
              &:hover,&:focus{
                p{
                  &.description{
                    text-decoration: none;
                  }
                  span{
                    text-decoration: underline;
                  }
                }
              }

              a{
                display: block;
                @include type-u-16;
                color: $primaryBlack;

                p{
                  &.title{
                    @include type-ub-16;
                    color: $lightPurple;
                    margin: 0;

                    i{
                      padding-left: 10px;
                      top: 3px;
                      position: relative;
                    }
                  }
                  &.description{
                    margin: 0;
                    padding: 20px 0 0 0;
                  }
                }
              }

              &.image{
                a{
                  display: block;
                  float: left;
                  img{
                    display: block;
                    float: left;
                    width: 50%;
                  }
                  p{
                    display: block;
                    padding-left: 20px;
                    width: 50%;
                    float: left;
                  }
                }

              }
              &.icon{
                i {
                  &.large{
                    display: block;
                    background: $lightPurple;
                    margin-bottom: 20px;
                    width: 100%;
                    position: relative;
                    height: 140px;

                    &:before{
                      top: 32px;
                      font-size: 50px;
                      position: relative;
                    }
                  }
                }
              }
            }
            &.multiple-promo{
              &:hover{
                background: none;
              }
              >.subnav-subsection{
                padding: 0;
                &:hover{
                  background: none;
                }
                .promo-item{
                  padding: 20px;

                  &:first-of-type{
                    padding-top: 45px;
                  }
                  &:hover{
                    background: $subnavSectionHover;
                  }
                }
              }
            }
          }


          >.subnav-subsection{
            padding: 20px;
            &:first-of-type{
              padding-top: 45px;
            }
            &:last-of-type{
              padding-bottom: 45px;
            }

            &:hover{
              background: $subnavSectionHover;
            }

            >a{
              @include type-ub-16;
              font-weight: normal;
              color: $primaryRed;
              &:hover,&:focus{
                border-bottom: 1px solid $primaryRed;
              }
            }

            ul{
              list-style: none;
              margin: 0;
              padding: 0;

              li{
                padding: 20px 0 0 0;
                a{
                  @include type-u-16;
                  color: $primaryBlack;
                  &:hover,&:focus{
                    border-bottom: 1px solid $utilityNavColor;
                    @include type-ub-16;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.appear{
      background: $navBackground;
      >a{
        color: $primaryBlack;
        &:after {
          color: $primaryBlack;
        }
      }
      .subnav-wrapper{
        max-height: 800px;
      }
    }
    &.disappear{
      .subnav-wrapper{
        max-height: 0;
      }
    }
    &.slide-in{
      background: $navBackground;
      >a{
        color: $primaryBlack;
        &:after {
          color: $primaryBlack;
        }
      }
      .subnav-wrapper{
        max-height: 800px;
        @include transition(max-height .5s);
      }
    }
    &.slide-out{
      .subnav-wrapper{
        max-height: 0;
        @include transition(max-height .5s);
      }
    }
  }
}