.resource-center-wrapper, .glossary-search-wrapper{
  height: 570px;
  .table{
    height: auto;
  }
  .resource-center-header{
    @include type-m-48(24px,24px);
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    font-weight: normal;
  }
  .col-double{
    &.last{
      padding-top: 24px;
      margin-top: 0;
      vertical-align: initial;
      p{
        margin:0;
        @include type-m-24(24px, 24px);
        color:$neutralGreyDark;
        line-height: 35px;
      }
    }
  }

  @include breakpoint(max-width $width-medium){
    height: auto;
    .resource-center-header{
      line-height: 1.7;
    }
    .col-double{
      &.last{
        p{
          line-height: 1.7;
        }
      }
    }
  }

  @include breakpoint(max-width $width-small){
    height: auto;
    .resource-center-header{
      padding-top: 30px;
      margin-bottom: 0;
    }
    .col-double{
      &.last{
        padding: 0 35px 35px;
        p{
          font-size: 17px;
        }
      }
    }


  }
}

.resource-center-search, .glossary-search{

  .title-wrapper{
    display: table;
    vertical-align: middle;
    padding: 24px 0 40px 0;

    .mda-icon-knowledgecenter{
      margin-right: 30px;
      font-size: 60px;
      color: #da291c;
      margin-bottom: 30px;
      display: table-cell;
      vertical-align: middle;
      padding-right: 30px;
    }
    .search-title{
      @include type-u-21;
      line-height: 35px;
      display: table-cell;
      margin: 0;
      padding: 0;
      float: left;

    }
  }
  .ui.search.dropdown > .text{
    padding-right:40px;
  }

  .ui.search.dropdown .menu{
    width: 100.4% !important;
    min-width: inherit;
  }

  .search-form.search-field {
    display: flex;
    border-radius: 0;
    line-height: 20px;
    background-color: $primaryWhite;
    float: left;
    height: auto;
    line-height: 20px;
    font-weight: normal;
    color: $neutralGreyDark;
    position: relative;
    margin-bottom: 24px;

    .search{
      height: 100%;
    }
    //change font color to gray, including during transition of selection
    &:hover .text, &.visible .text:not(.default), .text {
      color: $neutralGreyDark;
    }
  }
  

  .fa-chevron-down {
    float: right;
    right: 1em;
    position: absolute;
    cursor: pointer;
    color: $primaryRed;
    border-left: 1px solid $neutralGrey;
    height: 100%;
    padding-top: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    &:before{
      top: 50%;
      margin-top: -8px;
      position: absolute;
    }
  }
  .ui.active.selection.dropdown > .fa-chevron-down, .ui.visible.selection.dropdown > .fa-chevron-down {
    opacity: 1;
    z-index: 3;
  }


  @include breakpoint(max-width $width-medium){
    padding: 0;
    .title-wrapper{
      padding: 24px 0 24px 0;
    }
  }
  
  @include breakpoint(max-width $width-small){
    @include spacing('padding', 'all', 'mobile');
    padding-bottom:20px;
    .title-wrapper{
      padding: 0;
      .mda-icon-knowledgecenter{
        margin: 0;
        padding-top: 10px;
        float: left;
        margin-right: 15px;
        font-size: 45px;
      }
      .search-title{
        margin-bottom: 30px;
        width: 60%;

      }
    }
  }
}