/* =======================
   Tab
   ======================= */

.collection.tabbed {
    position: relative;
    @include clearfix;
    text-align: center;
    .section-title {
        text-align: center;
        margin-bottom: 20px;
        h2 {
            @include type-m-48(36px,24px);
            font-weight: normal;
            margin: 0;
        }
    }
    .tab-menu-wrapper {
        width: 100%;
        text-align: center;
    }
    .mda-tabs.ui-tabs {
        border:none;
        background: none;
    }
   .tab-menu {
        display: table;
        table-layout:fixed;
        width: 100%;
        padding-left: 0;
        margin: 15px 0 35px;
        padding: 0;
        background: none;
        border: none;
        &:before, &:after {
        display: none;
        }
        li {
            display: table-cell;
            list-style-type: none;
            border-left: 1px solid $neutralGreyLight;
            @include type-u-18;
            border-left: none;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            float: none;
            &:first-child {
                border-left: none;
            }

            &.ui-tabs-active,
            &:hover, &:focus {
                a {
                    border-bottom: 3px solid $primaryRed;
                    color: $primaryRed;
                    @include type-ub-18;
                    @include breakpoint(max-width $width-iPad-landscape) {
                        padding: 5px;
                        line-height: 1.8;
                    }
                }
            }
            h3 {
                @include type-u-18;
                font-weight: normal;
                margin: 0;
            }
            a {
                margin: 0;
                padding-bottom: 5px;
                color: $primaryBlack;
                &:focus {
                    outline: none;
                }
                float: none;
                @include breakpoint(max-width $width-iPad-landscape) {
                    padding: 5px;
                    line-height: 1.8;
                }
            }
        }
    }
    .collection-group {
        @include clearfix;
        margin-bottom: 0px;
        display: table;
        width: 100%;
        height: 100%;
        text-align: left;
        &.resources {
            border-spacing: 0;
        }
        &.three-columns {
            .collection-item {
                width: 33.333%;
                padding: 0 0.33em;
                &:first-child {
                    padding: 0 0.66em 0 0;
                }
                &:last-child {
                    padding: 0 0 0 0.66em;
                }
            }
        }
        &.two-columns {
            .collection-item {
                width: 50%;
            }
        }
        &.four-columns {
            .collection-item {
                width: 25%;
            }
        }
        .collection-item {
            display: table-cell;
            vertical-align: top;
            padding: 0 0 0 $global-spacing;
            height: 100%;
            &:first-child {
                /*padding: 0;*/
            }
            .inner {
                color: $primaryBlack;
                height: 100%;
                border: 1px solid $neutralGreyLight;
                overflow: hidden;
                .collection-image {
                    background: $primaryBlack;
                    position: relative;
                    img {
                        @include transition(opacity 0.5s);
                        width: 100%;
                        height: auto;
                        display: block;

                    }
                }
                .collection-body {
                    clear: both;
                    padding: $global-spacing;
                    i {
                        font-size: 2.5em;
                    }
                    .body-title {
                        @include type-mb-24;
                        p {
                            margin-top: 0;
                            margin-bottom: $global-spacing;
                        }
                    }
                    .body-text {
                        @include type-m-21;
                        line-height: 1.25;
                        color: $neutralGreyDarkest;
                        p {
                            margin-top: 0;
                            margin-bottom: 15px;
                        }
                    }
                }
                .cta {}
            }
            &.resource {
                padding: 0 0 20px 0;
                text-align: center;
                margin: 0;
                border-left: $neutralGrey solid 1px;
                &:first-child {
                    border: 0;
                }
                .inner {
                    border: 0;
                    padding: 0 $global-spacing;
                    .collection-body {
                        border: none;
                        padding-bottom: 0;
                        .body-title {
                            margin: 15px 0 10px 0;
                            @include type-m-36(21px,21px);
                            line-height: 1;
                        }
                        .body-text {
                            @include type-m-21;
                            color: $neutralGreyDarkest;
                        }
                        i {
                            &.mdicon-arrow{
                                font-size: 1em;
                                position:relative;
                                top: 3px;
                            }
                        }
                    }
                    .cta {
                        @include type-u-18;
                        i {
                            padding-left: 10px;
                            color: $primaryRed;
                            @include type-fa-1;
                        }
                    }
                }
            }
            &.background-red {
                .inner {
                    border: none;
                    background: $primaryRed;
                    @include transition(background 0.5s);
                    position: relative;
                    display: block;
                    color: $primaryWhite;
                    .collection-body {
                        color: $primaryWhite;
                        border: none;
                        padding: $global-spacing;
                        .body-title {
                            width: 115px;
                            text-transform: uppercase;
                            @include type-u-14;
                        }
                        .body-text {
                            @include type-m-36;
                            color: $primaryWhite;
                        }
                    }
                }
            }
            &.background-yellow {
                .inner {
                    border: none;
                    background: $secondaryYellow;
                    @include transition(background 0.5s);
                    position: relative;
                    display: block;
                    color: $primaryBlack;
                    .collection-body {
                        color: $primaryBlack;
                        border: none;
                        padding: $global-spacing;
                        .body-title {
                            width: 115px;
                            text-transform: uppercase;
                            @include type-u-14;
                        }
                        .body-text {
                            @include type-m-36;
                            color: $primaryBlack;
                        }
                    }
                }
            }
            &.background-orange {
                .inner {
                    border: none;
                    background: $secondaryOrange;
                    @include transition(background 0.5s);
                    position: relative;
                    display: block;
                    color: $primaryWhite;
                    .collection-body {
                        color: $primaryWhite;
                        border: none;
                        padding: $global-spacing;
                        .body-title {
                            width: 115px;
                            text-transform: uppercase;
                            @include type-u-14;
                        }
                        .body-text {
                            @include type-m-36;
                            color: $primaryWhite;
                        }
                    }
                }
            }
            &:hover {
                .inner {
                    .collection-image {
                        img {
                            opacity: 0.5;
                        }
                    }
                    .body-title {
                        color: $primaryRed;
                    }
                }
                &.background-red, &.background-orange, &.background-yellow {
                    .inner {
                        background: $primaryBlack;
                        .body-title {
                            color: $primaryWhite;
                        }
                    }
                }
                &.background-yellow {
                    .inner {
                        background: $primaryBlack;
                        .collection-body {
                            .body-text {
                                color: $primaryWhite;
                            }
                        }
                    }
                }
            }
        }

        &.video-collection{
            display:block;
            width: 100%;
            .slick-prev,
            .slick-next {
                display: inline-block;
                position: absolute;
                z-index: 3;
                width: 40px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                @include transition(all 300ms);
                opacity: 0;
                &:hover {
                    &:before {
                        color: $primaryRed;
                    }
                }
                &:before {
                    color: $neutralGrey;
                    @extend .fa;
                    font-size: 30px;
                    @include transition(all 300ms);
                }
            }
            .slick-prev {
                opacity: 1;
                left: -40px;
                &:before {
                    content: "\f104";
                    padding-right: 4px;
                }
                &.active{

                    opacity: 1;

                }
            }
            .slick-next {
                opacity: 1;
                right: -40px;
                &:before {
                    content: "\f105";
                    padding-left: 4px;
                }
                &.active{

                    opacity: 1;

                }
            }
        }
    }
    .mda-collection-all {
        @include type-u-18;
        text-align: left;
        margin-left: 77px;
        i {
            margin-left: 10px;
        }
    }
    @include breakpoint(max-width $width-medium) {
        .mda-tabs {
            .tab-menu-mobile {
                display: block;
            }
            .tab-menu {
                padding: 0;
                margin: 0;
                position: absolute;
                width: 100%;
                left: 0;
                background-color: $primaryWhite;
                max-height: 0;
                overflow: hidden;
                @include transition();
                margin-top: -1px;
                display: block;
                &.active {
                    max-height: 200px;
                    padding-bottom: 20px;
                    z-index: 100;
                    @include transition();
                }
                li {
                    width: 100%;
                    text-align: center;
                    margin-top: 5px;
                    display: inline-block;
                    &.active {
                        display: none;
                    }
                    a {
                        color: $primaryRed;
                        &:hover, &:active {
                            border-bottom: none;
                        }
                        @include breakpoint(max-width $width-iPad-landscape) {
                            padding: 0;
                            line-height: 1.3;
                        }
                    }

                    &.ui-tabs-active {
                        a {
                            border-bottom: none;
                            @include breakpoint(max-width $width-iPad-landscape) {
                                padding: 0;
                                line-height: 1.3;
                            }
                        }
                    }
                }
            }
            .tab-menu-mobile {
                a {
                    @include type-u-18;
                    color: $primaryRed;
                    border-bottom: 2px solid $primaryRed;
                    padding-bottom: 3px;
                    margin-bottom: 20px;
                    display: inline-block;
                    &:after {
                        content: $fa-var-chevron-down;
                        display: inline-block;
                        position: relative;
                        top: -3;
                        right: -5px;
                        font-family: FontAwesome;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        letter-spacing: -0.02em;
                        line-height: 1.3;
                        color: $primaryRed;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @include breakpoint(max-width $width-small) {
        margin-left: 0;
        margin-right: 0;
        @include spacing("padding", "top", "mobile");
        @include spacing("padding", "bottom", "mobile");
        .collection-group {
            display: block;
            width: 100%;
            margin-bottom: 0;
            .collection-item {
                margin-left: 10px;
                margin-right: 10px;
                padding: 0;
                float: none;
                position: relative;
                &.background-red {
                    padding-bottom: 20px;
                    .inner {
                        background-color: $primaryRed;
                        position: initial;
                    }
                }
                &.background-orange {
                    padding-bottom: 20px;
                    .inner {
                        background-color: $secondaryOrange;
                        position: initial;
                    }
                }
                &.background-yellow {
                    padding-bottom: 20px;
                    .inner {
                        background-color: $secondaryYellow;
                        position: initial;
                    }
                }
                .inner{
                    .collection-image{
                        img{
                            max-height: 213px;
                        }
                    }
                }
            }
            &.resources {
                display: block;
                .collection-item.resource {
                    width: 49%;
                    clear: none;
                    border-right: none;
                    display: inline-block;
                    padding-bottom: 0;
                    .collection-body {
                        padding: 0;
                        border: none;
                        .body-title {
                            padding: 0 30px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}
.ie9,.ie10,.ie11{
    .collection{
        &.tabbed{
            .collection-group{
                .collection-item{
                    height: 420px;
                }
            }
        }
    }
}
